{% include 'head.html.twig' %}
  <h2>Address book cleared!</h2>
  <form action="/" method="get">
    <button type="submit" class="btn bg-success">Home</button>
  </form>
{% include 'foot.html.twig' %}
