{% include 'head.html.twig' %}

<h2 class="invalid">{{ nameerr }}</h2>
<h2 class="invalid">{{ emailerr }}</h2>
<h2 class="invalid">{{ phoneerr }}</h2>

<form action="/" method="get">
  <button type="submit">Go Back</button>
</form>
{% include 'foot.html.twig' %}
